<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.inertia_title>{assigns[:page_title]}</.inertia_title>
    <.inertia_head content={@inertia_head} />
    <PhoenixVite.Components.assets
      names={[if(PhoenixVite.Components.has_vite_watcher?(__WEB_MODULE__.Endpoint), do: "js/index.js", else: "__ENTRY_FILE__"), "css/app.css"]}
      manifest={{:__APP_NAME__, "priv/static/.vite/manifest.json"}}
      dev_server={PhoenixVite.Components.has_vite_watcher?(__WEB_MODULE__.Endpoint)}
      to_url={fn p -> static_url(@conn, p) end}
    />
  </head>
  <body>
    {@inner_content}
  </body>
</html>
